FYPJ/Temp/UnityLockfile
/FYPJ/Library/metadata/09/*
/FYPJ/Library/metadata/09/*.info
/FYPJ/Library/metadata/31/*
/FYPJ/Library/metadata/31/*.info
/FYPJ/Library/metadata/37/*
/FYPJ/Library/metadata/37/*.info
/FYPJ/Library/metadata/6f/*
/FYPJ/Library/metadata/6f/*.info
/FYPJ/Library/metadata/85/*
/FYPJ/Library/metadata/85/*.info
/FYPJ/Library/metadata/8f/*
/FYPJ/Library/metadata/8f/*.info
/FYPJ/Library/metadata/aa/*
/FYPJ/Library/metadata/aa/*.info
